* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(0, 165, 254);
  color: white;
  height: 32px;
  width: 100vw;
}
header a {
  text-decoration: none;
  color: white;
}
h2 {
  margin-left: 10px;
  font-size: 18px;
  padding: 0;
}
p {
  margin-right: 10px;
}
.newimage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: no-wrap;
  flex-direction: column;
  height: 50%;
  padding-top: 10px;
}
.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: calc(100% - 40px);
  padding-top: 10px;
}
.img-thumbs {
  /*display: flex;*/
  background-color: black;
  height: auto;
  width: auto;
  user-select: none;
  object-fit: cover;
  object-fit: contain;
  border-radius: 3px;
  max-height: 40vh;
  max-width: 90%;
  margin: 20px;
  border: medium solid black;
}
.photo-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.photo {
  border: medium solid black;
  margin: 10px;
  background-color: black;
  height: auto;
  width: auto;
  user-select: none;
  object-fit: cover;
  object-fit: contain;
  border-radius: 5px;
  max-height: 65vh;
  max-width: 98%;
}

.collab {
  height: calc(100% - 32px);
}
#controls {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
label {
  margin-right: 15px;
}
.post-list {
  display: flex;
  padding: 4px 4px;
}
.post-button {
  background-color: lightcyan;
  border-radius: 10px;
  border: medium solid lightblue;
  margin: 5px;
  outline: none;
}
.post-button:focus {
  border-color: rgb(0, 185, 252);
}
input[type="text"],
input[type="email"],
.button {
  padding: 5px;
  margin: 5px;
}
input[type="text"] {
  width: 95%;
}
.button {
  height: 30px;
  width: 100px;
  background: rgb(0, 165, 254);
  color: white;
  font-weight: bold;
  border-radius: 10px;
  border: 2px solid rgb(0, 20, 255);
}

@media (max-height: 450px) and (orientation: landscape) {
  .collab {
    display: flex;
    flex-grow: 1;
    height: auto;
    width: 100%;
  }
  .photo-div {
    min-width: 300px;
    height: calc(100vh - 32px);
  }
  .photo {
    max-height: 90vh;
    margin: 5px;
  }
  .img-thumbs {
    margin: 10px;
  }
  input[type="text"],
  input[type="email"],
  .button {
    padding: 2px;
    margin: 2px;
  }
  .button {
    height: 25px;
    width: 70px;
  }
}
/*
  .post-list {
  }
  .editor {
  }
@media (min-height: 450px) {
}

div {
  text-align: center;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
