@import url("https://fonts.googleapis.com/css2?family=Bellota+Text:wght@700&display=swap");
* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: "Bellota Text", cursive;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  color: black;
  height: 32px;
  width: 100%;
  margin: 0;
}
header a {
  text-decoration: none;
  color: rgb(58, 165, 201);
}
h2 {
  margin-left: 10px;
  font-size: 25px;
  padding-top: 6px;
}
p {
  font-size: 16px;
  margin-right: 10px;
  padding-top: 10px;
}
.newimage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: no-wrap;
  flex-direction: column;
  height: 50%;
  padding-top: 10px;
}
.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: calc(100% - 32px);
  padding-top: 10px;
}
.img-thumbs,
.photo {
  opacity: 0;
  transition: opacity 0.4s ease;
}

.transition {
  transition: filter 0.4s ease;
}
.opacity-1 {
  opacity: 1;
}

.img-thumbs {
  margin: 20px;
  max-height: 40vh;
  max-width: 90%;
}
.photo-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.photo {
  margin: 10px;
  max-height: 65vh;
  max-width: 98%;
}
.img-thumbs,
.photo {
  border-radius: 8px;
  border: 3px solid lightblue;
  background-color: lightblue;
  height: auto;
  width: auto;
  user-select: none;
  object-fit: cover;
  object-fit: contain;
}

.collab {
  margin: 0;
  height: calc(100% - 32px);
}

.photo-editor {
  margin: 0;
  padding-top: 5px;
}
.controls {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

label {
  margin: 0 5px;
}

.posts-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5px;
}
.post-button {
  background: lightcyan;
  border-radius: 10px;
  margin: 5px;
  padding: 3px;
  outline: none;
  font-size: 16px;
  font-family: "Bellota Text", cursive;
  cursor: pointer;
}
.post-button a {
  text-decoration: none;
}

input[type="range"] {
  appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: lightblue;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

input[type="text"],
input[type="email"] {
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  outline: none;
}

input[type="text"] {
  width: 95%;
  max-width: 90vh;
}

.button,
.file-button {
  height: 30px;
  width: 100px;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  padding: 0 8px;
  outline: none;
  font-size: 18px;
  font-family: "Bellota Text", cursive;
}
.file-button {
  padding: 1px 8px 1px 8px;
}

input[type="file"] {
  width: 1px;
  opacity: 0;
}
input[type="range"]::-webkit-slider-thumb,
.button,
.file-button {
  background: rgb(106, 203, 255);
}

input[type="text"],
input[type="email"],
.post-button {
  border: 3px solid lightblue;
}

input[type="range"]::-webkit-slider-thumb,
.post-button:focus,
.button,
.file-button {
  border: 3px solid rgb(84, 138, 255);
}
@media (max-height: 450px) and (orientation: landscape) {
  .collab {
    display: flex;
    flex-grow: 1;
    height: auto;
  }
  .photo-div {
    min-width: 300px;
    height: calc(100vh - 32px);
  }
  .photo {
    max-height: 90vh;
    margin: 5px;
  }
  .img-thumbs {
    margin: 10px;
  }
  input[type="text"],
  input[type="email"] {
    padding: 2px;
    margin: 2px;
  }
  .file-button {
    font-size: 14px;
    padding: 1px 8px 1px 8px;
  }
  .button {
    margin: 2px;
    padding: 0;
    height: 25px;
    width: 70px;
    font-size: 14px;
  }
  .controls {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .posts-list {
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 3px;
  }
}

@media (min-height: 450px) and (orientation: landscape) {
  header {
    height: 50px;
  }

  h2 {
    margin: 10px;
    font-size: 35px;
    padding: 0 10px;
  }
  p {
    margin: 10px;
    padding: 0 10px;
    font-size: 22px;
  }

  .collab {
    height: calc(100% - 50px);
  }
  .gallery {
    height: calc(100% - 50px);
  }
}
